.header {
  background-color: #e28100;
  border: 1px solid #4e4e4e;
  color: #4e4e4e;
}

.logo {
  height: 90px;
  width: 90px;
  margin-top: 10px;
  margin-right: 15px;
}

.logo1 {
  height: 100px;
  width: 100px;
}

.logo1:hover {
  color: #ffe257;
}

.nav {
  color: #4e4e4e;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  margin-top: 55px;
  padding: 10px;
}

.nav:hover {
  color: #ffe257;
}

.title {
  color: #4e4e4e;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-top: 40px;
  text-shadow: -1px 0 #ffe257, 0 1px #ffe257, 1px 0 #ffe257, 0 -1px #ffe257;
}

.info {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
  text-shadow: -1px 0 #ffe257, 0 1px #ffe257, 1px 0 #ffe257, 0 -1px #ffe257;
}

.box {
  border: 3px solid #ffe257;
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
}

.social {
  font-size: 16px;
  padding: 20px;
}

.feature1 {
  background-color: #d8d8d8;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.feature2 {
  background-color: #e28100;
  border: 1px solid #4e4e4e;
  color: #4e4e4e;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

.feature3 {
  background-color: #d8d8d8;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.footer {
  background-color: #e28100;
  border: 1px solid #4e4e4e;
  color: #4e4e4e;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  padding: 50px;
}