.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

.feature1 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.feature2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.feature3 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}